.friends_section .friends_section-header {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 15px;
  font-size: 12px;
  color: #b4b4b4;
}

.friends_section-rows .friends_section-row {
  padding: 10px 15px;
  display: flex;
  align-content: center;
  font-size: 14px;
}

.friens_section-row.with-tagline {
  justify-content: space-between;
}

.friends_section-tagline {
  font-size: 10px;
  background-color: #f0f0f0;
  padding: 10px 10px;
  border-radius: 5px;
  color: #939393;
}

.friends_section-row img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.friends_section-row a {
  text-decoration: none;
  color: inherit;
}

.friends_section-column {
  display: flex;
  align-items: center;
}
/* .friends_section-tagline {
  flex-direction: row;
  justify-content: left;
} */
