.top-header {
  background-color: #523737;
  color: white;
  padding: 5px 10px 15px 10px;
}

.top-header .header_top,
.top-header .header_bottom {
  display: flex;
  justify-content: space-between;
}

.top-header .header_top {
  margin-bottom: 15px;
  font-size: 12px;
}
.top-header .header_bottom {
  margin: 0 10px;
}
.top-header .header_column {
  width: 33%;
}

.top-header .header_column:last-child {
  text-align: right;
}

.top-header .header_column:nth-child(2) {
  text-align: center;
}

.top-header .header_number {
  color: yellow;
}
