.tab-bar {
  background-color: #f7f7f7;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #c1c1c1c1;
  padding-top: 10px;
  /* padding: 10px 30px 5px 30px; */
}

.tab-bar .tab-bar_tab {
  margin-bottom: 10px;
  display: flex;
  align-content: center;
  flex-direction: column;
  text-decoration: none;
  color: #c1c1c1c1;
  /* text-align: center; */
}

.tab-bar .tab-bar_tab i {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  font-size: 24px;
}

.tab-bar .tab-bar_title {
  font-size: 10px;
}

.tab-bar .tab-bar_tab--selected {
  color: #523737;
}
